.number-input-container {
  width: 100%;  
  display: flex;
  flex-direction: column;
  padding: 5px 0px 3px 0px;
}
.number-input-container label {
  display: block;
  color: white;
  font-weight:500;
}

.number-input-container input[type="number"] {
  width: 100%;
  padding: 8px 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.number-input-container input[type="number"]:focus {
  border-color: black;
  box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.3);
  outline: none;
}
.description-container{
  font-size: 12px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.description-container div{
  text-align: end;
}